.introduction{
    margin-top: 140px;
    height:800px;
    .carousel-image{
        display: block;
        img{
            height: 900px;
            width:900px;
            margin: -100px auto 0 -200px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}


.hover-image{
    margin-top: 50px;
    .image-section{
        padding:0;
        &-container{
            display: none;
            img{
                width: 80%;
            }
        }
    }
    .image-section-container.active {
        display: block;
    }
    .link-section {
        ul{
            list-style-type: none;
            padding: 0;
            margin-top: 40px;
        }
        .link-item {
            width: 300px;
            margin: 10px 0;
            transition:all 0.3s ease;

            a {
                margin-left: 10px;
            }
            &:hover {
                color: $orange;
                cursor: pointer;
            }
        }
    }
}
