/**
 * Basic typography style for copy text
 */
body {
  font-family: $font-stack;
}
nav {
  ul{
      li{
          a{
              color: $white;
              font-size: 26px;
          }
      }
  }
} 
h2{
  font-size: 40px;
  font-family: $font-title;
  font-weight: bold;
}
p{
  font-size: 1rem;
}
