nav {
    background: $black;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#logo {
    a {
        img {
            width: 80px;
            padding: 1px;
        }
    }   
}