.navbar-nav {
    flex-direction: row;
}
.navbar-brand{
    margin-left: 50px; 
    transition: 0.4s;
}

.navigation {
    background: $black;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    ul{
        line-height: 1;
        li{
            margin-right: 25px;
        }
    }
}