// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    padding: 8px 26px;
    background: transparent;
    border: $black 2px solid;
    border-radius: 50px;
    color: $black;
    font: 700 20px/1.2em $font-title;

    &:hover {
        transition: 0.4s;
        background: $black;
        color: $white;
    }
}

.link {
    background: $black;
    border: $orange 2px solid;   
}